In [1]:
class Student:
    pass

In [2]:
stu1 = Student()
stu1.name = "徐國堂"
stu1.chinese = 89
stu1.english = 92
stu1.math = 72

In [3]:
stu2 = Student()
stu2.name = "張xx"
stu2.chinese = 86
stu2.english = 65
stu2.math = 91

In [4]:
stu1.name, stu2.name

('徐國堂', '張xx')

In [5]:
class Student:
    def __init__(self,name:str,chinese:int,english:int,math:int):
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math

In [6]:
stu1 = Student("徐國堂",75, 93, 82)
stu1.name, stu1.chinese, stu1.english, stu1.math

('徐國堂', 75, 93, 82)

In [7]:
stu2 = Student(name="張xx",chinese=89, english=92, math=72)
stu2.name, stu2.chinese, stu2.english, stu2.math

('張xx', 89, 92, 72)

In [8]:
stu3 = Student("林xx",english=98, math=92, chinese=71)
stu3.name, stu3.chinese, stu3.english, stu3.math

('林xx', 71, 98, 92)

In [9]:
class Student:
    def __init__(self,name:str,chinese:int,english:int,math:int):
        #實體的attribute
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math 

    #實體方法method
    def total(self)->int:
        return self.chinese + self.english + self.math

In [10]:
stu1 = Student("徐國堂",75, 93, 82)
display((stu1.name, stu1.chinese, stu1.english, stu1.math))
stu1.total()

('徐國堂', 75, 93, 82)

250

In [11]:
stu2 = Student(name="張xx",chinese=89, english=92, math=72)
display((stu2.name, stu2.chinese, stu2.english, stu2.math))
stu2.total()

('張xx', 89, 92, 72)

253

In [12]:
stu3 = Student("林xx",english=98, math=92, chinese=71)
stu3.name, stu3.chinese, stu3.english, stu3.math

('林xx', 71, 98, 92)

In [13]:
class Student:
    def __init__(self,name:str,chinese:int,english:int,math:int):
        #實體的attribute
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math 

    #實體方法method
    def total(self)->int:
        return self.chinese + self.english + self.math
    
    #建立property->類似method,沒有參數,一定傳出一個值
    @property
    def average(self)->float:
        return self.total() / 3.0

In [14]:
stu1 = Student("徐國堂",75, 93, 82)
display((stu1.name, stu1.chinese, stu1.english, stu1.math))
stu1.total(), stu1.average

('徐國堂', 75, 93, 82)

(250, 83.33333333333333)

In [15]:
stu2 = Student(name="張xx",chinese=89, english=92, math=72)
display((stu2.name, stu2.chinese, stu2.english, stu2.math))
stu2.total(), stu2.average

('張xx', 89, 92, 72)

(253, 84.33333333333333)

In [16]:
stu3 = Student("林xx",english=98, math=92, chinese=71)
stu3.name, stu3.chinese, stu3.english, stu3.math

('林xx', 71, 98, 92)

In [17]:
class Student:
    def __init__(self,name:str,chinese:int,english:int,math:int):
        #實體的attribute
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math 

    #實體方法method
    def total(self)->int:
        return self.chinese + self.english + self.math
    
    #建立property->類似method,沒有參數,一定傳出一個值
    @property
    def average(self)->float:
        return self.total() / 3.0
    
    def __repr__(self):
        return f'我是student實體,我的name:{self.name}'

In [18]:
stu1 = Student("徐國堂",75, 93, 82)
display((stu1.name, stu1.chinese, stu1.english, stu1.math))
display((stu1.total(), stu1.average))
print(stu1)

('徐國堂', 75, 93, 82)

(250, 83.33333333333333)

我是student實體,我的name:徐國堂

In [19]:
stu2 = Student(name="張xx",chinese=89, english=92, math=72)
display((stu2.name, stu2.chinese, stu2.english, stu2.math))
display((stu2.total(), stu2.average))
print(stu2)

('張xx', 89, 92, 72)

(253, 84.33333333333333)

我是student實體,我的name:張xx