In [1]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]
student

array([67, 78, 92, 74, 65])

In [2]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [3]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [4]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_52512/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [5]:
for i in s1:
    print(i)

67
78
92
74
65

In [6]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [7]:
#利用numpy的function做統計
np.sum(s1)

376

In [8]:
np.mean(s1)

75.2

In [9]:
np.std(s1)

9.620810776644555

In [10]:
np.median(s1)

74.0

In [11]:
import pandas as pd
pd.DataFrame({
    "徐國堂":[78, 92, 76, 91, 72],
    "王xx":[72, 81, 92, 94, 69],
    "張xx":[81, 65, 89, 81, 72],
},index=['國文', '英文', '數學', '地理', '歷史'])

    徐國堂  王xx  張xx
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72